.containerCard {
  text-align: center;
  .container-flex {
    border: 2px solid red;
    width: 200px;
    img {
      width: 100px;
    }
  }
}

.render {
  display: flex;
  gap: 50px;
}

.containerCompras {
  border: 5px solid black;
  width: 200px;
  text-align: center;
}
